<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css?{{ cache_id }}" />
    <link type="text/css" rel="stylesheet" href="../static/styles/8-places.css?{{ cache_id }}" />
    <link rel="icon" href="../static/images/icon.png?{{ cache_id }}" />
    <SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"></SCRIPT>
    <SCRIPT src="../static/scripts/3-hbnb.js?{{ cache_id }}"></SCRIPT>
    <title>HBnB</title>
  </head>
  <body>
    <header>
      <div class="logo"></div>
      <div id="api_status"></div>
    </header>
